// font
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$darkBlue: #3151c2;
$lightBlue: #1d76db;

// some reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

// style
html {
  font-size: 62.5%;
  font-family: Quicksand, sans-serif;

}
body{
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

        .form-wrapper {
            width: 90rem;
            height: 60rem;
            background-color: #eee;
            border-radius: 3rem;
            box-shadow: 0 2rem 6rem rgba(0,0,0.3);
            position: relative;
            overflow: hidden;

                .banner {
                    position: absolute;
                    top: 25%;
                    left: -30rem;
                    text-align: center;
                    color: white;
                    width: 30rem;
                    z-index: 100;

                        h1 {
                            font-size: 4rem;
                            margin-bottom: 3rem;
                        }

                        p{
                            font-size: 2rem;
                        }
                }

                .cover-bg {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to right, $darkBlue, $lightBlue);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 50;
                    transition: width 1.5s cubic-bezier(.19, 1, .22, 1);

                    img {
                        width: 33%;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);         
                    }

                    button {
                        position: absolute;
                        top: 60%;
                        left: 50%;
                        transform: translate(-50%);
                        width: 16rem;
                        height: 5rem;
                        background-color: $lightBlue;
                        border-radius: 3rem;
                        border: .1rem solid #2b77e1;
                        text-transform: uppercase;
                        letter-spacing: .1rem;
                        color: white;
                        cursor: pointer;
                        z-index: 100;

                        &:hover{
                            box-shadow: 0px 6px 20px -10px #0a3878;
                            font-size: 1.4rem;
                        }
                    }
                }

                .signup-form {
                    width: 60rem;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: 10rem 0;
                    transition: left 1.5s cubic-bezier(.19, 1, .22, 1);
                        
                    h1 {
                        font-size: 4rem;
                        color: $lightBlue;
                        }
                    
                    .social-media{
                        display: flex;

                    }
                        i.fab {
                            width: 4rem;
                            height: 4rem;
                            border: .1rem solid $lightBlue;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 2rem;
                            font-size: 2rem;
                            color: $lightBlue;
                        }
                    
                    p {
                        font-size: 1.8rem;
                        color: #555;
                        margin-bottom: 2rem;
                    }

                    .input-group{
                        position: relative;
                    }

                        input {
                            width: 28rem;
                            height: 5rem;
                            padding: 1rem 1rem 1rem 3rem;
                            background-color: #ddd;
                            border: none;
                            border-radius: .5rem;
                        }

                            i.fas{
                                position:absolute;
                                top: 50%;
                                left: 1rem;
                                transform: translateY(-50%);
                                font-size: 1.2rem;
                                color: #555;
                            }
                        
                        button {
                            width: 16rem;
                            height: 5rem;
                            background-color: $lightBlue;
                            border: none;
                            border-radius: 3rem;
                            text-transform: uppercase;
                            letter-spacing: .1rem;
                            color: white;
                            margin-top: 3rem;
                            cursor: pointer;
                        }
                }
        }

        &.change .cover-bg{
            width: 40%;
        }

        &.change .banner {
            left: 3.5%;
            transition: left .8s
        }

        &.change .signup-form {
            left: 50%;
            transform: translateX(-20%);
        }
}

.site{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    z-index: 200;

    .link, .link:visited {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 5px;
        transition: font-size 1s;

        &:hover{
            font-size: 1.5rem;
        }
    }
}